[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = git://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/funcoo.vim"]
	path = vim/bundle/funcoo.vim
	url = git://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
